<aside data-component="sidebar"></aside>
<div class="main-content">
  <div>
    <header data-component="topbar"></header>
    <main class="content">
      <div class="card-groups">
        <header>
          <div>
            <h1 class="icon-list" data-i18n>{LNG_My tickets}</h1>
            <p data-i18n>{LNG_List of} {LNG_Tickets} {LNG_that you have reported}</p>
          </div>
          <div>
            <a class="btn btn-primary icon-new" href="/helpdesk-receive?id=0" data-i18n>{LNG_Create ticket}</a>
          </div>
        </header>
        <div class="content-body">
          <div class="tablebody">
            <form data-table-filter="helpdeskTickets" class="table_nav">
              <div>
                <label for="tickets_from" data-i18n>{LNG_from}</label>
                <span class="form-control">
                  <input type="date" id="tickets_from" name="from">
                </span>
              </div>
              <div>
                <label for="tickets_to" data-i18n>{LNG_to}</label>
                <span class="form-control">
                  <input type="date" id="tickets_to" name="to">
                </span>
              </div>
              <div>
                <label for="tickets_category" data-i18n>{LNG_Category}</label>
                <span class="form-control">
                  <select id="tickets_category" name="category">
                    <option value="" data-i18n>{LNG_all items}</option>
                  </select>
                </span>
              </div>
              <div>
                <label for="tickets_priority" data-i18n>{LNG_Priority}</label>
                <span class="form-control">
                  <select id="tickets_priority" name="priority">
                    <option value="" data-i18n>{LNG_all items}</option>
                  </select>
                </span>
              </div>
              <div>
                <label for="tickets_status" data-i18n>{LNG_Status}</label>
                <span class="form-control">
                  <select id="tickets_status" name="status">
                    <option value="" data-i18n>{LNG_all items}</option>
                  </select>
                </span>
              </div>
              <input type="search" name="search" placeholder="{LNG_Search}...">
            </form>
            <table class="table border fullwidth helpdesk-table" data-table="helpdeskTickets" data-source="api/helpdesk/tickets"
                   data-default-sort="updated_at desc" data-page-size="30" data-search-columns="ticket_no,subject">
              <thead>
                <tr>
                  <th data-field="subject" data-sort="subject" data-formatter="formatHelpdeskSubject" data-i18n>{LNG_Ticket}</th>
                  <th data-field="status" data-sort="status" class="right" data-cell-class="top right nowrap"
                      data-formatter="formatHelpdeskStatus" data-i18n>{LNG_Status}</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
  <footer class="footer">
    <p class="center">&copy; 2026 Now.js - <a href="https://nowjs.net">nowjs.net</a></p>
  </footer>
</div>
